*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./images/background_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    
}
//--------------------------------------OUTER CONTAINER----------------------------------------------------
#container{
    width: 90vw;
    background-color: rgba(0,0,0,0.3);
    height: 65rem;
    margin: auto;
    margin-top: 2rem;
    
}
#title{
    color:white;
    font-size: 3.1rem;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 0.313rem;
     text-align: center;
}
span{
    color:red;
}
#description{
    font-family: 'Sorts Mill Goudy', serif;
     text-align: center;
}header{
    text-align: center;
}
//--------------------------------------------FORM------------------------------------------------
#survey-form-container{
    width: 90vw;
    max-width: 32rem;
    background-color: rgba(0,0,0,0.8);
    margin: 1rem auto 0rem;
    padding: 0.6rem 2.5rem;
}
#survey-form{
    max-width: 28.75rem;
    margin: auto;
    font-size: 1rem;
}
#name,#age,#email,#dropdown,#feedback{
    width: 100%;
    padding: 0.6rem;
    margin-top: 0.6rem;
}
.input-box{
    margin-top: 0.6rem;
}
#form-button{
    width: 9rem;
    height: 2.8rem;
    background-color: red;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}
#form-submit{
    width: 9rem;
    margin: auto;
    margin-top: 0.9rem;
}
#form-button:active{
    background-color: red;
    font-size: larger;
}
textarea{
    resize: none;
}
